
/* COLOR VARIABLES */

// B/W colors
$colF: #ffffff;
$colBL: #b1b1b1;
$colM: #787878;
$colSH: #494949;
$colD: #000000;

// Fresh colors
$frcl1: #f40000;
$frcl2: #f46200;
$frcl3: #f49f00;
$frcl4: #f4f400;
$frcl5: #caf400;
$frcl6: #8cf400;
$frcl7: #12f400;
$frcl8: #00f474;
$frcl9: #00f4ab;
$frcl10: #00f4f4;
$frcl11: #00c4f4;
$frcl12: #009ff4;
$frcl13: #0062f4;
$frcl14: #0018f4;
$frcl15: #5b00f4;
$frcl16: #a500f4;
$frcl17: #d000f4;
$frcl18: #f400f4;
$frcl19: #f400ca;
$frcl20: #f40099;
$frcl21: #f40062;
$frcl22: #f40037;

// Blended colors
$blcl1: #cb2929;
$blcl2: #ca632b;
$blcl3: #cb8329;
$blcl4: #cccc28;
$blcl5: #b3cb29;
$blcl6: #93cc28;
$blcl7: #39cb29;
$blcl8: #29cb72;
$blcl9: #2bca9a;
$blcl10: #29c7cb;
$blcl11: #29abcb;
$blcl12: #2797cd;
$blcl13: #2872cc;
$blcl14: #2841cc;
$blcl15: #6627cd;
$blcl16: #8e29cb;
$blcl17: #aa2bca;
$blcl18: #cc28c8;
$blcl19: #cc28a4;
$blcl20: #cc2887;
$blcl21: #cc286d;
$blcl22: #cb294e;

// Shaded colors
$shcl1: #ad4747;
$shcl2: #ae6846;
$shcl3: #ae8046;
$shcl4: #aea946;
$shcl5: #9ead47;
$shcl6: #88af45;
$shcl7: #56ad47;
$shcl8: #46ae73;
$shcl9: #46ae8f;
$shcl10: #47abad;
$shcl11: #4697ae;
$shcl12: #468aae;
$shcl13: #4575af;
$shcl14: #4555af;
$shcl15: #5948ac;
$shcl16: #8545af;
$shcl17: #9746ae;
$shcl18: #b143b1;
$shcl19: #af4598;
$shcl20: #af4580;
$shcl21: #ae4673;
$shcl22: #ad4761;
