@import 'partials/myvars';
@import 'partials/mymxns';


.apbdy {
    // background-color: lighten($color: $shcl15, $amount: 45%);
    width: 100%;
    min-height: 275px;
}


@media (max-width: 800px) {
    .apbdy {
        padding-top: 75px;
    }
}