@import 'partials/myvars';
@import 'partials/mymxns';


.hmpg {
    width: 100%;
    height: auto;
    min-height: 1000px;
    @include cmmnflx;
    flex-direction: column;

    .hmhdr {
        background-color: lighten($color: $shcl15, $amount: 45%);
        width: 100%;
        @include cmmnflx;
        
        .hmhdrcnt {
            width: 80%;
            height: 80%;
            .hmcptn {
                height: auto;
                @include cmmnflx;
                .hmcptgrp {
                    display: grid;
                    grid-template-columns: repeat(1, 100%);
                    .hmcpthdr {
                        width: 100%;
                        height: auto;
                        padding: 5%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        span {
                            color: darken($color: $shcl15, $amount: 15%);
                            text-align: left;
                            text-transform: capitalize;
                            word-wrap: break-word;
                        }
                    }
                    .hmcptdet {
                        width: 100%;
                        height: auto;
                        padding: 5%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        overflow-wrap: break-word;
                        span {
                            color: darken($color: $shcl15, $amount: 50%);
                            text-align: left;
                            word-wrap: break-word;
                        }
                    }
                    .hmcptsubsc {
                        width: 100%;
                        height: auto;
                        padding: 5%;
                        display: grid;
                        span {
                            color: darken($color: $shcl15, $amount: 30%);
                            font-weight: 500;
                            text-align: left;
                            text-transform: capitalize;
                            word-wrap: break-word;
                        }
                        div {
                            background-color: lighten($color: $shcl15, $amount: 100%);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 50px;
                            box-shadow: 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%);
                            .hmcpttxt {
                                border: none;
                                outline: none;
                                border-radius: 50px;
                            }
                            .hmcptbtn {
                                background-color: lighten($color: $shcl15, $amount: 10%);
                                color: lighten($color: $shcl15, $amount: 50%);
                                border: none;
                                outline: none;
                                border-radius: 50px;
                                text-transform: capitalize;
                                &:hover {
                                    background-color: darken($color: $shcl15, $amount: 5%);
                                    color: lighten($color: $shcl15, $amount: 80%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hmbdy {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 500px;
        @include cmmnflx;
        z-index: -1;

        .hmbdybck {
            position: absolute;
            background-color: lighten($color: $shcl15, $amount: 45%);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 35%);
            width: 100%;
            height: auto;
            min-height: 500px;
            z-index: 1;
        }

        .hmbdycnt {
            position: absolute;
            background-color: lighten($color: $shcl15, $amount: 55%);
            width: 80%;
            height: auto;
            max-height: 440px;
            padding: 2%;
            @include cmmngrd;
            border-radius: 5px;
            box-shadow: 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%);
            z-index: 2;
            .hmbdyhd {
                span {
                    color: darken($color: $shcl15, $amount: 15%);
                    font-size: 2vw;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
            .hmbdydet {
                display: grid;
                
                .hmbdycrd {
                    height: auto;
                    padding: 5%;
                    @include cmmngrd;
                    grid-template-rows: 20% 10% 70%;
                    .hmdtaicnsect {
                        padding: 5%;
                        .hmdtaicn {
                            background-color: lighten($color: $shcl15, $amount: 45%);
                            width: 3vw;
                            height: 3vw;
                            @include cmmnflx;
                            border-radius: 50%;
                            color: lighten($color: $shcl15, $amount: 5%);
                            font-size: 1.5vw;
                        }
                    }
                    .hmdtahdng {
                        padding: 5%;
                        color: darken($color: $shcl15, $amount: 15%);
                        // font-size: 1vw;
                        font-weight: 500;
                        word-wrap: break-word;
                    }
                    .hmdtadtls {
                        padding: 5%;
                        color: darken($color: $shcl15, $amount: 50%);
                        // font-size: 1vw;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}


@media (min-width: 1080px) {
    .hmbdydet {
        grid-template-columns: repeat(3, 33.3%);
    }
}

@media (max-width: 1080px) {
    .hmbdydet {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 800px) {
    .hmhdr {
        min-height: 500px;
        .hmhdrcnt {
            min-height: 400px;
            padding-top: 5%;
            padding-bottom: 5%;
            @include cmmnflx;
            .hmcptn {
                width: 50%;
                min-height: 400px;
                .hmcptgrp {
                    width: 80%;
                    height: auto;
                    min-height: 320px;
                    grid-template-rows: repeat(3, 33.3%);
                    row-gap: 5%;
                    .hmcpthdr {
                        height: auto;
                        span {
                            font-size: 2vw;
                            font-weight: bold;
                        }
                    }
                    .hmcptdet {
                        height: auto;
                        span {
                            font-size: 1vw;
                        }
                    }
                    .hmcptsubsc {
                        height: auto;
                        grid-template-rows: repeat(2, 50%);
                        span {
                            width: 75%;
                            font-size: 1vw;
                        }
                        div {
                            width: 75%;
                            height: 100%;
                            .hmcpttxt {
                                width: 65%;
                                height: 80%;
                                margin-left: 3%;
                            }
                            .hmcptbtn {
                                width: 30%;
                                height: 100%;
                                min-width: 50px;
                                font-size: 1vw;
                            }
                        }
                    }
                }
            }
            .hmphts {
                width: 50%;
                height: auto;
                min-height: 400px;
                @include cmmnflx;
                .hmphtgrp {
                    width: 80%;
                    height: auto;
                    min-height: 320px;
                    display: grid;
                    grid-template-columns: repeat(10, 10%);
                    grid-template-rows: repeat(10, 10%);
                    .pht1 {
                        width: 100%;
                        height: 100%;
                        grid-column: 5/-1;
                        grid-row: 1/5;
                        object-fit: cover;
                        border-radius: 20px;
                        // z-index: 2;
                    }
                    .pht2 {
                        width: 100%;
                        height: 100%;
                        grid-column: 1/7;
                        grid-row: 2/-1;
                        object-fit: cover;
                        border-radius: 20px;
                        // z-index: 1;
                    }
                }
            }
        }
    }

    // .hmbdy {
    //     min-height: 500px;

    //     .hmbdybck {
    //         min-height: 500px;
    //     }

    //     .hmbdycnt {
    //         min-height: 440px;
    //         .hmbdydet {
    //             grid-template-columns: repeat(2, 50%);
    //         }
    //     }
    // }
}

@media (max-width: 800px) {
    .hmhdr {
        height: auto;
        min-height: 1000px;
        .hmhdrcnt {
            @include cmmngrd;
            width: 100%;
            height: auto;
            min-height: 800px;
            padding-top: 100px;
            grid-template-rows: repeat(2, 50%);
            grid-auto-flow: column;
    
            .hmcptn {
                width: 100%;
                height: auto;
                min-height: 400px;
                // grid-row: 1/2;
                .hmcptgrp {
                    min-height: 320px;
                    .hmcpthdr {
                        height: auto;
                        span {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                    .hmcptdet {
                        height: auto;
                        span {
                            font-size: 15px;
                        }
                    }
                    .hmcptsubsc {
                        height: auto;
                        grid-template-rows: repeat(2, 50%);
                        span {
                            width: 100%;
                            padding: 5%;
                            @include cmmnflx;
                            font-size: 15px;
                        }
                        div {
                            width: 90%;
                            height: auto;
                            min-height: 30px;
                            margin: 5%;
                            padding: 1%;
                            @include cmmnflx;
                            .hmcpttxt {
                                width: 55%;
                                height: 80%;
                                margin-left: 2%;
                            }
                            .hmcptbtn {
                                height: auto;
                                min-width: 50px;
                                min-height: 30px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
            .hmphts {
                width: 100%;
                height: auto;
                // grid-row: 2/-1;
                min-height: 400px;
                @include cmmnflx;
                .hmphtgrp {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(5, 20%);
                    grid-template-rows: repeat(5, 20%);
                    .pht1 {
                        width: 100%;
                        height: 100%;
                        grid-column: 3/-1;
                        grid-row: 1/3;
                        object-fit: cover;
                        border-radius: 20px;
                        // z-index: 2;
                    }
                    .pht2 {
                        width: 100%;
                        height: 100%;
                        grid-column: 1/4;
                        grid-row: 2/-1;
                        object-fit: cover;
                        border-radius: 20px;
                        // z-index: 1;
                    }
                }
            }
        }
    }

    // .hmbdy {
    //     position: relative;
    //     width: 100%;
    //     min-height: 1000px;
    //     @include cmmnflx;
    //     z-index: -1;

    //     .hmbdybck {
    //         position: absolute;
    //         background-color: lighten($color: $shcl15, $amount: 45%);
    //         clip-path: polygon(0 0, 100% 0, 100% 70%, 0 35%);
    //         width: 100%;
    //         height: auto;
    //         min-height: 1000px;
    //         z-index: 1;
    //     }

    //     .hmbdycnt {
    //         position: absolute;
    //         background-color: lighten($color: $shcl15, $amount: 55%);
    //         width: 80%;
    //         height: auto;
    //         min-height: 440px;
    //         padding: 2%;
    //         @include cmmngrd;
    //         border-radius: 5px;
    //         box-shadow: 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%), 0.25px 0.25px 8px 0px lighten($color: $shcl15, $amount: 40%);
    //         z-index: 2;
    //         .hmbdyhd {
    //             span {
    //                 color: darken($color: $shcl15, $amount: 15%);
    //                 font-size: 2vw;
    //                 font-weight: bold;
    //                 text-transform: capitalize;
    //             }
    //         }
            .hmbdydet {
    //             display: grid;
                grid-template-columns: repeat(1, 100%);

    //             .hmbdycrd {
    //                 height: auto;
    //                 padding: 5%;
    //                 @include cmmngrd;
    //                 grid-template-rows: 20% 10% 70%;
    //                 // gap: 5%;
    //                 .hmdtaicnsect {
    //                     padding: 5%;
    //                     .hmdtaicn {
    //                         background-color: lighten($color: $shcl15, $amount: 45%);
    //                         width: 3vw;
    //                         height: 3vw;
    //                         @include cmmnflx;
    //                         border-radius: 50%;
    //                         color: lighten($color: $shcl15, $amount: 5%);
    //                         font-size: 1.5vw;
    //                     }
    //                 }
    //                 .hmdtahdng {
    //                     padding: 5%;
    //                     color: darken($color: $shcl15, $amount: 15%);
    //                     // font-size: 1.25vw;
    //                     font-weight: 500;
    //                     word-wrap: break-word;
    //                 }
    //                 .hmdtadtls {
    //                     padding: 5%;
    //                     color: darken($color: $shcl15, $amount: 50%);
    //                     // font-size: 1.25vw;
    //                     word-wrap: break-word;
    //                 }
    //             }
            }
    //     }
    // }
}